/fixed/dbg/
/fixed/leak/
/fixed/opt/
/fixed/point/
/fixed/thread/
/fixed/uba/

/fixed/prg
/fixed/prg-dbg
/fixed/prg-leak
/fixed/prg-thread
/fixed/prg-point
/fixed/prg-uba

/virtual/dbg/
/virtual/leak/
/virtual/opt/
/virtual/point/
/virtual/thread/
/virtual/uba/

*.o
